<div class="container-fluid backgroundimage mt-5">
    <div class="row">
        <p class="text-center colorfulworld fw-bold fs-5">DISCOVER THE COLORFUL WORLD</p>
    </div>
    <div class="row">
       <h1 class="text-center fw-bold fs-1">BUILD YOUR DREM</h1>
    </div>
    <div class="row">
     <p class="text-center fw-bold fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp
or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
    </div>
    <div class="row">
      <a href="#" class=" text-center discovernow mx-auto text-decoration-none text-light fw-bold">DISCOVER NOW</a>
    </div>

</div>