<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
            <img src="../Image/f1.png.webp" style="width: 80px;" alt="Building Drawings">
            </div>
            <div class="row">
             <h4 class="mt-3">Building Drawings</h4>
            </div>
            <div class="row">
           <p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
            <img src="../Image/f2.png.webp" style="width: 80px;" alt="Building Drawings">
            </div>
            <div class="row">
             <h4 class="mt-3">Building Drawings</h4>
            </div>
            <div class="row">
           <p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
            <img src="../Image/f3.png.webp" style="width: 80px;" alt="Building Drawings">
            </div>
            <div class="row">
             <h4 class="mt-3">Building Drawings</h4>
            </div>
            <div class="row">
           <p>Lorem ipsum dolor sit amet, consecteturadipis icing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>

    </div>

</div>